*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
  color: #757575;
}

h1,h2,h3,h4,h5,h6{
  color: #fff;
}
a{
  color: #fff;
  text-decoration: none;
}
p{
  margin: 0.5rem 0;
}
img{
  max-width: 100%;
  height: auto;
}
li{
  list-style: none;
}

/* button */
.btn{
  display: inline-block;
  background-color: #e50914;
  color: #fff;
  padding: 7px 17px;
  text-align: center;
  font-size: 1rem;
  border: 1px solid #e50914;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity .2s ease-in;
  outline: none;
  box-shadow: 0 1px 0 rgba(0,0,0,.45);
  border-radius: 2px;
  line-height: normal;
  font-weight: 500;
}
.btn:hover{
  opacity: 0.9;
}
.btn-icon{
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 7px;
  margin-left: 0,5rem;
  transform: rotate(-45deg) ;
  -webkit-transform: rotate(-45deg)
}
.btn-xl{
  font-size: 1.8rem;
  padding: 1.2rem 2rem;
  text-transform: uppercase;
}
.btn-outline{
  border: 1px solid #fff;
  background-color: transparent;
  padding: 1rem 1.25rem;
  font-size: 1.5rem;
  text-transform: uppercase;
}

/* text */
.text-xl{
  font-size: 3.1rem;
  line-height: 1.1;
  margin-bottom: 0.5rem;
  color: #fff;
}
.text-lg{
  font-size:1.6 rem;
  line-height: 1.3;
  margin-bottom: 1.5rem 1rem 1.5rem;
  color: #fff;
}
.text-center{
  text-align: center;
}

/* header */
.header{
  width: 100%;
  height: 725px;
  position: relative;
  border-bottom: 8px solid #222;
  background: url(./img/header.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.header::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:725px;
  z-index: 1;
  background-color: rgba(0,0,0,.6);
  box-shadow: inset 0px 40px 150px #000, inset 0px -40px 150px #000;
  border-bottom: 8px solid #222;
}
.header-top{
  position: relative;
  z-index: 2;
  height: 90px;
}
.header-top .logo{
  width: 168px;
  position: absolute;
  top: 50%;
  transform: (0%, -50%);
  margin-left: 3%;
}
.header-top .login{
  position: absolute;
  top: 50%;
  right: 2%;
  transform: (-25%, -50%);
}
.header-top .footer-btn-container{
  position: absolute;
  top: 33%;
  right: 10%;
  transform: (-25%, -50%);
 width: 100px;
 height: 36px;
 border: 1px solid #303030;
 padding: .85rem;
 border-radius: 2px;
 
}
.header-content{
  position: relative;
  z-index: 2;
  width: 90%;
  margin: auto;
  text-align: center;
  margin-top: 9rem;
}
.header-content label{
left: 34%;
}
.header-content h1{
  font-size: 3.5rem;
  font-weight: 700;
  margin: 0 0 2rem;
}
.header-content p{
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 0 2rem;
  line-height: 1.25;
}
/* .content */
.content{
  width: 100%;
  border-bottom: 8px solid #222;
}
.content-inner{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content-inner .col{
  width: 50%;
}
.content-img{
  padding: 0 6%;
  text-align: center;
}

.email-input{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  border-top-right-radius: 0;
  border-top-left-radius: 2px;
  height: 50px!important;
  min-width: 450px;
  outline: none;
  border: none;
  padding-left: .7rem;
  font-size: 1rem;
}
label{
position: absolute;
left: 16%;
top: 50%;
transform: translateY(-50%);
font-size: 0.85rem;
color: #8c8c8c;
pointer-events: none;
transition: 0.4s;

}
.email-input:focus + label {
  font-size: 0.75rem;
  top: 20%;
}


.email-input:focus ::placeholder{
  font-size: 12px;
}

.email-input .btn{
display: inline-block;
border-top-left-radius: none;
border-bottom-left-radius: none;
}

/* footer */
.footer-inner{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 5rem 2rem;
  font-size: .8rem;
  color: #737373;
  
}
.footer-title{
  font-size: 1rem;
  color: #737373;
  font-weight: 400;
}
.content-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.3rem;
}
.footer-content ul li{
  padding: .5rem;
  cursor: pointer;
}
.footer-btn-container{
display: flex;
align-items: center;
justify-content:center ;
width: 120px;
height: 50px;
border: 1px solid #303030;
padding: .75rem;
border-radius: 2px;
margin-top: 1rem;

}
.footer-btn-container{
  font-size: .8rem;
}
.footer-btn-container select{
  border: none;
  background-color: transparent;
  color: #737373;
  outline: none;
  margin-left: .8rem;
  font-weight: 700;
  cursor: pointer;
}
.footer-container p{
  margin-top: 1.5rem;
}